
    <ul style="list-style: none;">
    {% for anime in animes %}
    <li>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{ anime['type'] }}</strong>
                <h3 class="mb-0">{{ anime['title'] }}</h3>
                <div class="mb-1 text-muted">Episodes: {{ anime['episodes'] }}</div>
                <p class="card-text mb-auto">{{ anime['synopsis'] }}</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img alt='{{ anime["title"] }}' src="{{ anime['image_url'] }}"></img>
            </div>
        </div>
    </li>
    {% endfor %}
    </ul>

