{% extends "layout.html" %}

{% block body %}
    <div class="contenedor">
        <h2 class="title">Top 6 Seasonal Animes</h2>
        <div class="results">
            {% for anime in season_animes %}
                    <div data-toggle="popover" title="Score: {{ anime['score'] }} " data-bs-content="Producers: {{ anime['producers'][0]['name'] }}">
                        <a class="link" href="{{anime['url']}}">
                            <img src="{{ anime['image_url'] }}">
                        
                            <div class="img-title">
                                <p>{{ anime['title'] }}</p>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>

        <h2 class="title">Top 6 Animes</h2>
        <div class="results">
            {% for anime in top_animes %}
                <div data-toggle="popover" title="Score: {{ anime['score'] }}">
                    <a class="link" href="{{anime['url']}}" >
                        <img src="{{ anime['image_url'] }}">
                    
                        <div class="img-title">
                            <p>{{ anime['title'] }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <h3 class="title">Top 6 Mangas</h3>
        <div class="results">
            {% for manga in top_mangas %}
                <div data-toggle="popover" title="Score: {{ manga['score'] }}">
                    <a class="link" href="{{manga['url']}}" >
                        <img src="{{ manga['image_url'] }}">
                    
                        <div  class="img-title">
                            <p>{{ manga['title'] }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

    <!--
        1. Organizar bien el index, para que incluir todo el index dentro de layout
        2. Lograr realizar bien la busqueda
        3. Lograr hacer que se busque entre manga o anime (colocar dos botones: uno para manga y otro para anime :))
    -->
{% endblock %}

