{% extends "layout.html" %}


{% block title %}
    Search
{% endblock %}

{% block body %}
    <div class="contenedor">
        <h2 style="margin-top: 100px;" class="title" >
            Search your favorite anime/manga
        </h2>
        <div style="margin-top: 26px;" class="container d-flex justify-content-center" >
            <form action="/search" method="get" class="w-50 me-3">
                <div class="input-group mb-3">
                    <input minlength="3" name="q" type="search" class="form-control" placeholder="Search...">
                    <button class="btn btn-dark" type="submit" >
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                </div>
            </form>
        </div>
        <div style="padding-top: 70px;" class="results">
            
            <div class="result-col" >
                <h3 style="text-align: center;" class="title">Animes</h3>
                {% for anime in animes %}
                    {% if anime['title'] %}
                        <div class="result">
                            <div>
                                <a id="a1">  
                                    <div class="image" style="background-image: url({{ anime['images']['webp']['large_image_url']}});"></div>  
                                    <div class="name" >
                                        {{ anime['title'] }}
                                        <div class="info" >
                                            {% if anime['studios'] %}
                                                <span>{{ anime['studios'][0]['name'] }}</span>
                                            {% endif %}
                                            {% if anime['airing'] %}
                                                <span> - Airing</span>
                                            {% else %}
                                                {% if anime['year'] %}
                                                    <span> - From: {{ anime['year'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="info">
                                            <span>{{ anime['type'] }}</span>
                                        </div>  
                                    </div>                          
                                </a> 

                                <form action="/selection" method="get">
                                    <a class="open-list-editor" >
                                        <button name="id" value="anime {{ anime['mal_id'] }}" type="submit" id="b1" class="btn btn-info"><i class="fas fa-plus-circle fa-w-16 fa-2x"></i></button>
                                    </a>
                                </form>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="result-col" >
                <h3 style="text-align: center;" class="title">Mangas</h3>
                {% for manga in mangas %}
                    {% if manga['title'] %}
                        <div class="result">
                            <div>
                                <a id="a1">
                                    <div class="image" style="background-image: url({{ manga['images']['webp']['large_image_url']}});"></div>    
                                    <div class="name" >
                                        {{ manga['title'] }}
                                        <div class="info" >
                                            <span>{{ manga['authors'][0]['name'] }}</span>

                                            {% if manga['publishing'] %}
                                                <span> - Publishing</span>
                                            {% else %}
                                                {% if manga['published']['from'] and  manga['published']['to']%}
                                                    <span> - From: {{ manga['published']['from'][:4] }} To: {{ manga['published']['to'][:4] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="info" >
                                            <span>{{ manga['type'] }}</span>
                                        </div>
                                    </div>                         
                                </a>

                                <form action="/selection" method="get">
                                    <a class="open-list-editor" >
                                        <button name="id" value="manga {{ manga['mal_id'] }}" type="submit" id="b1" class="btn btn-info"><i class="fas fa-plus-circle fa-w-16 fa-2x"></i></button>
                                    </a>
                                </form>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


